

.delete-button {
    /* Remove default button styles */
    background: none;
    border: none;
    padding: 0;
    color: red;
    /* Additional styling for the trash icon */
    /* Add any other necessary styles for the icon */
  }
  .edit-button{
    margin-right: 5px;
    color: rgb(4, 4, 99);

  }
  .show-button{
    margin-right: 5px;
    color: rgb(7, 187, 64);

  }