
<h1>Help Page</h1>
<p>Here you can find information about how to create support tickets and other related information.</p>
<%= link_to "Create a Ticket(complain)", new_ticket_path, class: "btn btn-danger btn-sm mt-5" %>
